@charset "UTF-8";

/*Header stylesheet*/
.hero-section {
    background: url("images/human-rights-museum.jpg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    text-align: center;
  }
  
/*Navigation*/

.menu-hover-lines {
    text-align: justify;
    list-style-type: none;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: #A9A9A9;
    position: relative;
    margin-left: 1rem;
    text-decoration: none;
    display: block;
    float: left;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #e1ad01;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }  
    
/*Carousel*/


.news-image-gallery-container {
  background-color: #fefefe;
  padding: 2rem 1.5rem 1rem;
}

.news-image-gallery-container {
  text-align: left;
}

.news-image-gallery-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.8em;
  border-radius: 1.6875rem;
  transition: 0.5s ease all;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.news-image-gallery-container:hover, .news-image-gallery-container:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.news-image-gallery-container .news-image-gallery-title {
  margin-top: .5rem;
}

.news-image-gallery-container .read-more {
  color: #8a8a8a;
}
/*Description*/

.work-feature-block {
    padding: 10px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    text-align: center;
  }
  
  .work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
  }  

/*Partners*/

.marketing-site-three-up {
    text-align: center;
    padding: 2rem 0;
  }
  
  .marketing-site-three-up .row {
    max-width: 900px;
  }
  
  .marketing-site-three-up .columns {
    margin-bottom: 1rem;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-three-up .columns {
      margin-bottom: 0;
    }
  }
  
  .marketing-site-three-up .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1779ba;
  }
  
  .marketing-site-three-up-headline {
    margin-bottom: 2rem;
    font-size: 24px;
  }  

/*Footer*/

.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}